body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #00f0ff;
  margin-bottom: 1rem;
}


.back-button{
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #ccc;
}

p {
  margin-top: 1rem;
  color: #cccccc;
  font-size: 0.9rem;
  background: #1e1e1e;   /* Dark gray for contrast */
  padding: 1rem;         /* Adds space inside the paragraph */
  border-radius: 8px;    /* Soft rounded corners */
  line-height: 1.6;      /* Better line spacing */
  max-width: 600px;      /* limits width for readability */
  margin-left: auto;
  margin-right: auto;
}

ul{
    font-size: 0.9rem;
    color: #cccccc;
    background: #1e1e1e;
    padding: 1rem; 
    border-radius: 8px; 
    line-height: 1.6; 
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}



.founders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.founder-card {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
}

.founder-photo {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.bio {
  line-height: 1.5;
  font-size: 0.95rem;
}

.mission {
  background-color: #1e1e1e;
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 10px;
  max-width: 800px;
  line-height: 1.6;
}